<ion-view title="Page">
    <ion-content padding="'true'" class="has-header">
        <button class="button button-royal button-block button-large icon-left ion-android-bicycle">Run!</button>
        <button class="button button-royal button-block button-large icon-left ion-android-bar">Fun!</button>
        <button class="button button-royal button-block button-large icon-left ion-android-bulb">Think!</button>
        <button class="button button-royal button-block button-large icon-left ion-xbox">Enjoy!</button>
        <button class="button button-royal button-block button-large icon-left ion-android-favorite">Love!</button>
        <button class="button button-royal button-block button-large icon-left ion-person-stalker">Social!</button>
        <form class="list"></form>
    </ion-content>
</ion-view>