<!DOCTYPE html>
<html ng-app="tech">
<head>
	<title>AngularJS First Applicatión</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="../assets/angular.min.js"></script>
</head>
<body>
	<div ng-controller="techController">
    <h1>Lenguajes de programación</h1>
    <ul>
    <li ng-repeat="language in languages">{{ language }}</li>
    </ul>
    <div ng-repeat="campaign in repository"><h1>{{ campaign.name }}</h1><br>
    <p>{{ campaign.date }}</p>
    
    </div>
    </div>
    <script type="text/javascript">
    angular.module('tech',[])
	.controller('techController',['$scope', function($scope)
	{
		$scope.languages = ["C++","Java","Perl","Python","Ada","Ruby","Eiffel" ];
		$scope.repository = [
		{
		name:"Deman gen usa",
		date:"25-10-15"
		},
		
		{
		name:"UC AMEA",
		date:"25-1-16"
		},
		
		{
		name:"MM brazil",
		date:"03-09-15"
		},
		
		
		
		
		]
		
		
		}
	
	
	])
    
    </script>
   </body>
</html>